
    <!-- FontAwesome JS
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    -->

    <!--FontAwesome Cloudflare-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.js" integrity="sha512-ia48mJh6IXv6baAI07Ib/crgsG/MD4tbSnOndWLo3GSExMhYsn1xPbni40VamCaXWk79t1dxi/JahsqOFazkew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--FontAwesome JSDelivr
    <script src="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.15.3/js/all.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    -->

    {{ template "_internal/google_analytics_async.html" . }}
